# Eclipse
.settings/
.classpath
.project
bin/

# IntelliJ IDEA
.idea
*.iml

# VS Code
.vscode

# Maven
target/

# OS
.DS_Store

# Coding Agents
# requisitos.md
# .opencode/
# AGENTS.md
# .agents
# .specify/
# _bmad
